.photo__heading {
  background: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  min-width: 282px;
  max-width: 282px;
  box-sizing: border-box;
  margin-top: 282px;
  height: 80px;
  padding: 0 15px 0 21px;
}

