.profile {
  margin: 40px 0 51px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 42px 0 38px 0;
  }
}
