.profile__activity {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 330px;
  grid-area: activity;
}

@media screen and (max-width: 768px) {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
  }
}
