.popup__close {
  background: url("../../../images/close.svg") center;
  border: 0;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  bottom: 40px;
  left: 401px;
  background-size: cover;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .popup__close {
    left: 241px;
    bottom: 55px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close {
    left: 241px;
    bottom: 44px;
  }
}
